{% extends 'base.html' %}

{% block content %}
<section class="text-dark text-center">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row z-3 position-absolute">
            <div class="bg-success rounded-3 bg-opacity-75 align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>The Library Is Officially Open</h1>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="d-flex align-items-center justify-content-center h-auto w-100" style="margin-top: 20px;">
                <img src="../../static/images/books-homepage.jpg" alt="" class="img-fluid h-auto w-100" alt="">
            </div>
        </div>
    </div>
</section>

{% endblock %}